html,
body {
  margin: 0;
  font-size: 1.1rem;
}

body {
  display: flex;
  flex-direction: row;
}

#store,
#profile {
  height: 100vh;
  min-height: 650px;
  min-width: 500px;
  width: 50vw;
}

#profile {
  background-color: #4286fb;
}

#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

#profile-img {
  height: 200px;
  width: 200px;
  border: 8px double white;
  border-radius: 50%;
}

form {
  display: flex;
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  height: 10%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px;
  min-width: 450px;
  width: 40vw;
}

input {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  width: 30%;
}

#not-profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 50%;
}

#bank,
#work {
  min-width: 200px;
  height: 90%;
  width: 36%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  background-size: 100% 50%;
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
  line-height: 5px;
}

#bank {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/19/13/33/credit-card-851506_960_720.jpg");
}

#work {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_960_720.jpg");
}

button {
  border-radius: 3px;
  border-width: 0px;
  border-color: black;
  border-width: 1px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 70%;
  height: 30px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 10px;
  opacity: 90%;
  height: 15%;
}

button:hover {
  opacity: 100%;
}

/* Bank */

#bank-div,
#debt {
  display: flex;
  justify-content: space-between;
}

#bank button {
  background-color: #0c06f7;
  width: 50%;
  color: white;
  position: relative;
  top: 25%;
  transform: translate(0%, -50%);
  min-width: 150px;
}

#bank button:hover {
  background-color: #318ce7;
  opacity: 100%;
}

#bottom {
  position: relative;
  top: 40%;
}

#bank button:disabled {
  color: black;
  cursor: not-allowed;
}

#money-div {
  display: flex;
  gap: 5px;
}

/* Work */

#work-div {
  display: flex;
  justify-content: space-between;
}

#work-btns {
  display: flex;
  gap: 20px;
  position: relative;
  top: 25%;
  transform: translate(0%, -50%);
  height: 15%;
}

#payment-div {
  display: flex;
  gap: 5px;
}

#payment-btn {
  background-color: yellow;
  height: 100%;
  border-color: black;
}

#payment-btn:disabled {
  cursor: not-allowed;
}

#work-btn {
  background-color: blue;
  color: white;
  height: 100%;
}

/* Store */

#store {
  background-color: black;
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#store h4 {
  margin-top: -17px;
  font-style: italic;
}

/* Laptops */

#laptops {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
}

#laptops-dropdown {
  margin-bottom: -40px;
  background-color: lightskyblue;
  color: black;
  padding: 5px;
  text-align: center;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 5px;
  width: 100%;
  border-right: 100px solid transparent;
  padding-left: 88px;
}

#laptops-dropdown:hover {
  cursor: pointer;
  background-color: rgb(107, 167, 246);
}

#laptops-dropdown option {
  border-radius: 50px !important;
  background-color: white;
}

img {
  width: 250px;
  height: 200px;
  margin: 30px;
  object-fit: contain;
  margin: 20px;
}

#buy-div-top {
  margin-left: 7%;
  display: flex;
  align-items: center;
}

#buy-div {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  margin-right: 30px;
  margin-top: -50px;
}

#info-description {
  height: 160px;
  overflow: hidden;
  width: 90%;
}

#info-btn {
  margin: 0;
  width: 200px;
  background-color: lightskyblue;
}

#info-price {
  font-size: 2em;
}

@media only screen and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #store,
  #profile {
    width: 100vw;
    height: 100vh;
  }
}
